canvas {
  max-width: 100%;
  height: auto;
}

#lineChartSearch label,
#lineChartSearch button,
#diffBarChartSearch label,
#diffBarChartSearch button {
  margin: 0;
  display: block;
  position: relative;
  padding: 5px 10px 5px 30px;
  border: 3px solid #fff;
  border-radius: 100px;
  color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s, box-shadow 0.2s;
}
#lineChartSearch button,
#diffBarChartSearch button {
  padding: 5px 10px 5px 10px !important;
}

#lineChartSearch .form-check-input:checked,
#diffBarChartSearch .form-check-input:checked {
  background-color: #000;
  border-color: #000;
}
#lineChartSearch div.form-check,
#diffBarChartSearch div.form-check {
  padding-left: 10px !important;
}

#lineChartSearch div.form-check-inline,
#diffBarChartSearch div.form-check-inline {
  margin-right: 0 !important;
}

/* 左列を固定 */
.sticky-col {
  position: sticky;
  left: 0;
  z-index: 1;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05); /* 影で区切り */
}
